
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #377D71;
  gap:20px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; 
 
}
.imagess>img{
  height:43px;
  width:50px;

}
.displays img{
  height:260px;
  width:260px;
}
.displays{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}
button{
  outline: none;
  border:none;
  height:35px;
  width:130px;
  background-color: #FFF5E4;
  border-radius: 7px;
  cursor:pointer;
}




.bookholder:hover{
  background-color: #FCE2DB;
  box-shadow: 15px 3px 30px #FBC5C5 ;
}
.booksholder{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 row-gap:30px;
 margin-top:55px;

}
.bookholder{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width:260px;
  
  height:440px;
  
}
.descriptionhold{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFE6E6;
  margin-top: 80px;
  /* gap:1px; */
  /* height:100vh; */
  
  
  
}
.descriptions{
  width:700px;
  font-size: 18px;
   color:black;
   font-weight: 500;
   word-spacing: 5px;
  
}
.descriptionhold img{
  /* margin-top: 5px; */
  height:280px;
  width:250px;
 
}
.descriptionhold img{
  background-color: #FCE2DB;
  box-shadow: 20px 25px 40px #FBC5C5 ;
}

.title, .author, .ratings {
  width:300px;
  margin-left:50px;
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #FBC5C5 ;
    
  }
  .imagess>img{
    height:33px;
    width:30px;
  }

  .booksholder{
    grid-template-columns: repeat(1,1fr);
    margin-top:60px;
    row-gap: 3px;
    background-color:#f3bfbf;
    border-radius: 10px;

  }
  .bookholder{
    background-color: #f1cece ;
    width:300px;
    border-radius: 10px;

  }
  .descriptionhold img{
    
    height:180px;
    width:180px;
    }
  .descriptions{
      width:320px;
      font-size: 14px;
       color:black;
       font-weight: 500;
       word-spacing: 5px;
      
    }
  .title, .author, .ratings, .descriptions{
      width:250px;
      
    }
  .descriptions {
      width:290px;
      margin-left:40px;
      font-size: 15px;
    }
    .bookname{
      margin-left: 10px;
    }
    .descriptionhold{
      background-color: #f3bfbf ;
    }
   
   
}
